:root {
    --blanco: #ffffff;
    --primario: #9c27b0;
    --secudario: #891190;
    --amarillo: #ffce00;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Staatliches';
    background-color: var(--primario);
}
/*utilidades*/
.titulo{
    font-weight: normal;
    color: var(--blanco);
    text-transform: uppercase;
    line-height: 4.4rem;
}
.titulo span{
    display: block;
    color: var(--amarillo);
    font-size: 6.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.sub-titulo{
    color: var(--amarillo);
    text-transform: uppercase;
    font-weight: 700;
}
.bg-nav{
    background-color: var(--secudario);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/*tipografías*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/*navegación principal*/
.navegacion-principal{
    width: min(90rem 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}
@media (min-width:768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: center;
    }
}
.navegacion-principal a{
    text-decoration: none;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.navegacion-principal a:hover{
    color: var(--amarillo);
}
.navegacion-principal .activo{
    color: var(--amarillo);
}
/*tarjeta*/
.tarjeta{
    background-color: var(--secudario);
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
}
.tarjeta a{
    text-decoration: none;
    margin: auto;

}
.tarjeta a .nombre-producto{
    text-align: center;
    color: var(--blanco);
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
}
.tarjeta a .precio{
    text-align: center;
    color: var(--amarillo);
    font-size: 2.6rem;
    font-weight: 700;
}
.tarjeta a img{
    
    
}
/*contenido*/
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
@media(min-width:768px){
    .tarjeta{
        margin: 0px;
    }
    .contenido{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .tarjeta:nth-child(4),
    .tarjeta:nth-child(9){
        grid-column: 1 / 3;
    } 
}
/*Nosotros*/
.informacion-nosotros{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 2rem;
}
.informacion-nosotros p{
    color: var(--blanco);
    font-size: 1.8rem;
    line-height: 3.5rem;
}
.nosotros-opciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 6rem;
}
.opcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opcion h3{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--amarillo);
}
.opcion p{
    margin: 0px;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
    line-height: 3rem;
}


.footer{
    background-color:  var(--secudario);
}
.footer p{
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}